body{
    background-color: #E5E1DA;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

header{
    text-align: center;
}

#paks{
    background-color: #AAD7D9;
    height: auto;
    border-radius: 5px;
    margin: auto;

}   

#kkk{
    background-color: #92C7CF;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

#lll{
    background-color: #92C7CF;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

#jjj{
    background-color: #FBF9F1;
    height: auto;
    border-radius: 5px;
    
}