body{
    background-color: #E5E1DA;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

header{
    text-align: center;
}

#paks{
    background-color: #AAD7D9;
    height: auto;
    border-radius: 5px;
    margin: auto;

}   

#kkk{
    background-color: #92C7CF;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

#lll{
    background-color: #92C7CF;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

#jjj{
    background-color: #FBF9F1;
    height: auto;
    border-radius: 5px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th,td {
    padding: 8px;
    border-bottom: 2px solid black;
    text-align: left;
  }
  
  td{
    background-color: #92C7CF;
  }
  th {
    background-color: #7AA2E3;
  }